<p>residences works!</p>
<ul>
    <li *ngFor="let r of residencesList" >
        <p *ngIf="r.id!=2" >
            {{ r.name | uppercase | lowercase }}
        </p>
    </li>
    <h2>List of Appartement</h2>
    <p *ngIf="selectedResidence" >Selected Residence: <b>{{ selectedResidence }} </b></p>
    <select [(ngModel)]="selectedResidence" >
        <option *ngFor="let r of residencesList" value="{{r.id}}">{{ r.name }}</option>
    </select>
    <button (click)="DisplaySelectedAppartment()" >Display Appartements</button>
</ul>
<div>
    <p *ngFor="let a of selectedAppartments" >
        {{ a.terrasse }}
        <button (click)="BuyAppartment(a.id)" [disabled]="!a.status" >Buy</button>
    </p>
</div>